aiohttp==3.9.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
dataclasses-json==0.5.12
docarray==0.21.0
docker==6.1.3
ecdsa==0.18.0
filelock==3.12.2
frozenlist==1.4.0
gptcache==0.1.36
greenlet==2.0.2
idna==3.4
importlib-metadata==6.8.0
jina-hubble-sdk==0.39.0
langchain==0.0.329
markdown-it-py==3.0.0
marshmallow==3.19.0
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.25.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
packaging==23.1
pathspec==0.11.1
pyasn1==0.5.0
pydantic==1.10.11
Pygments==2.15.1
python-jose==3.3.0
PyYAML==6.0.1
regex==2023.6.3
requests==2.32.2
rich==13.4.2
rsa==4.9
six==1.16.0
SQLAlchemy==1.4.49
tenacity==8.2.2
thinkgpt @ git+https://github.com/alaeddine-13/thinkgpt.git@59dd7e8a881d7c6cf280c140344a72321bc289d6
tiktoken==0.3.3
tqdm==4.66.3
typing-inspect==0.9.0
typing_extensions==4.7.1
urllib3==2.0.7
websocket-client==1.6.1
yarl==1.9.2
zipp==3.16.2
